/* Layout Scoped CSS - KrishiLink */

a {
  color: var(--krishi-primary);
}

.btn-primary {
  color: #fff;
  background-color: var(--krishi-primary);
  border-color: var(--krishi-primary);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--krishi-primary);
  border-color: var(--krishi-primary);
}

.border-top {
  border-top: 1px solid var(--krishi-border-color);
}
.border-bottom {
  border-bottom: 1px solid var(--krishi-border-color);
}

.box-shadow {
  box-shadow: var(--krishi-shadow-sm);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
